aws_account_id      = "123456789012"
aws_region          = "ap-northeast-2"
project_name        = "kdt-travelplanner"
api_domain_name     = "api.kdt-travelplanner.protove.net"
github_organization = "protove"
github_repository   = "KDT_TravelPlanner"

allowed_origins = [
  "http://localhost:3000",
]

custom_domain_name  = null
acm_certificate_arn = null
