aws_account_id       = "123456789012"
aws_region           = "ap-northeast-2"
project_name         = "kdt-travelplanner"
api_domain_name      = "api.kdt-travelplanner.protove.net"
github_organization  = "protove"
github_owner_id      = 114971169
github_repository    = "KDT_TravelPlanner"
github_repository_id = 1298812222
frontend_domain_name = "kdt-travelplanner.protove.net"
frontend_custom_domain_enabled = false

allowed_origins = [
  "http://localhost:3000",
]

custom_domain_name  = null
acm_certificate_arn = null

frontend_html_cache_ttl_seconds   = 0
frontend_static_cache_ttl_seconds = 31536000
