apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: travel-planner-monitoring
  labels:
    app.kubernetes.io/name: alloy
    app.kubernetes.io/part-of: travel-planner-monitoring
data:
  config.alloy: |
${indent(4, alloy_config)}
